@model IEnumerable<practiseMVC.Models.MVCCustomersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>顧客明細</h1>

<p>
    <a asp-action="Create"><input type="button" value="新增" class="btn btn-primary" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                客戶名稱
            </th>
            <th>
                公司名稱
            </th>
            <th>
                聯繫人
            </th>
            <th>
                聯繫人職稱
            </th>
            <th>
                地址
            </th>
            <th>
                城市
            </th>
            <th>
                地區
            </th>
            <th>
                郵政編碼
            </th>
            <th>
                國家
            </th>
            <th>
                電話
            </th>
            <th>
                傳真
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                    <button class="btn btn-light" style="width: 70px">@Html.ActionLink("編輯", "Edit", new { id=item.CustomerId }) </button>
                    <button class="btn btn-danger" id="delete" style="width: 70px">@Html.ActionLink("刪除", "Delete", new { id=item.CustomerId }) </button>
            </td>
        </tr>
}
    </tbody>
</table>
@section styles{
    <style>
        thead{
            background-color:antiquewhite
        }

        .table tr:nth-child(even) {
            background: #CCC
        }
    </style>
}
